/* @override http://preklottery.local/stylesheets/styles.css */

/* @override http://preklottery.local/stylesheets/styles.css */

/* @group bootstrap */


a{ color: #5478fc; }
a:hover{ text-decoration: none; }

h1, h2{
	font: inherit;
	font-size: 1em;
}
p{
	font-size: 0.9rem;
	line-height: 1.4em;
	margin-bottom: 0.7rem;
}

html, body{
	color: #333;
	font-family: "Noto sans", "Lucida Grande", Lucida, Verdana, sans-serif;
	font-size: 18px;
}

.site-width{
	width: 95%;
	max-width: 28rem;
	margin: 0 auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.site-width::after {
  content: "";
  display: table;
  clear: both;
}

span.preposition{ font-style: italic; }

/* @end */

/* @group header */

header{
	background: #34655c;
	font-size: 1em;
	color: white;
	padding: 0.6rem 0;
	margin-bottom: 1rem;
	font-weight: 600;
	line-height: 1rem;
}

header h1::before{ 
	content: "";
	float: left;
	background: url(../Content/Images/logo_small.png) left center no-repeat;
	height: 1.2em;
	width: 1.2em;
	background-size: cover;
	margin-top: -0.05rem;
	margin-right: 0.6rem;

}


/* @end */

/* @group signpost */

header+div#signpost{
	margin-top: -1rem;	
}

div#signpost{
	background: #f7f2e9;
	color: #5e3d25;
	padding: 0.6rem 0;
	font-size: 0.8em;
	line-height: 1rem;
	margin-bottom: 1.2rem;
}

div#signpost a{
	color: #8a7153;
	display: inline-block;
	margin-top: 0.4rem;
}

@media screen and (min-width: 24rem){
	div#signpost h2{
		float: left;
	}
	
	div#signpost a{
		float: right;
		margin-top: 0;
	}	
	
}

div#signpost a::before{
	content: "\2190\00a0";
}

/* @end */

/* @group main */

main h1,
main h2{
	font-family: "Titillium Web", Trebuchet MS;
	font-weight: 700;
	line-height: 1.1em;
	color: #5a1b3c;
	text-transform: uppercase;
	font-size: 01em;
	margin-bottom: 0.4rem;
	letter-spacing: 0.1em;
	word-spacing: 0.125em;
}


.student-information main  p,
.guardian-information main p,
.school-selection main p,
.review main p{
	font-size: 0.9em;
	margin-bottom: 1rem;
	padding-bottom: 1rem;
	border-bottom: 0.125rem double #e3e3e3;
	color: #423d4f;
}


/* @end */

/* @group footer */

footer{
	border-top: 0.08rem solid #e3e3e3;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

@media screen and (min-width: 40rem) { 
	footer{ 
		padding-top: 2rem;
		padding-bottom: 2rem;
	} 
}


/* @end */

/* @group views */

/* @group 1. welcome */



.welcome header h1::before{ 
	width: 13rem;
	height: 4rem;
	background-image: url(../Content/Images/logo.png);
	margin-top: -0.4rem;
	margin-right: 1rem;
}

.welcome header h1{
	font-size: 1.33rem;
	line-height: 1.2;
	font-weight: 600;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.welcome main h1,
.welcome main footer{
	margin-top: 1.4rem;
}

.welcome main form p:first-of-type{
	font-size: 1rem;	
	margin-bottom: 1.4em;
}

/* @end */

/* @group 4. review */

.review main section{ 
    position: relative;
	margin-bottom: 1rem;
}

.review main section h1{
	text-transform: none;
	letter-spacing: normal;
	display: inline-block;
	vertical-align: middle;
    font-size: 1.2rem;
	color: inherit;
    margin-bottom: 0.4em;
}
.review main section h1+a{ 
	font-size: 0.8em; 
	top: -1px;
	position: relative;
}

.review main section h1+a+h2{
    margin-top: 1em;
}

.review main section h2{
    font-size: 0.8rem;
	color: inherit;
    text-transform: uppercase;
	letter-spacing: 0.125em;}

.review main section li p{
    border: none;
    margin-bottom: 0;
}

.review dd.gender,
.review dd.relationship{
    text-transform: capitalize;
}


/* @end */

/* @group 5. success */

.success a{
	font-size: 0.8em;
	display: inline-block;
	margin-bottom: 2em;
}



/* @end */



/* @end */

@media screen and (min-width: 48em){

	html, body{ font-size: 24px; }	
	main h1{ 
		text-transform: none;
		font-size: 2rem;
		font-weight: 100;
		letter-spacing: normal;
		display: inline-block;
	}

	.welcome main h1{
		font-size: 1em;
		font-weight: 600;
		margin-top: 0.4em;
	}
	
	.welcome main p{
		font-size: 0.8rem;
	}

	.review main section h1{
		font-weight: 600;
	}
}


