@using GoldenTicket.Models

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        Name: @ViewBag.School.Name
    </div>
    <div>
        <ul>
            @foreach (Applied applied in ViewBag.School.Applieds)
            {
                <li>Student Name: @applied.Student.FirstName</li>
            }
        </ul>
    </div>
</body>
</html>
