@using GoldenTicket.Models

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div id="student-table">
        @foreach (Student student in ViewBag.Students)
        {
            <ul>
                <li>Name: @student.FirstName</li>
                @foreach(Contact contact in @student.Contacts)
                {
                    <li>Contact: @contact.FirstName</li>
                }
            </ul>
        }
    </div>
</body>
</html>
