@using System.Web.UI.WebControls
@using GoldenTicket.Models

@model School

@{
    ViewBag.BodyId = "";
    ViewBag.BodyClass = "no-js schools-new";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<main>
    @using(Html.BeginForm())
    { 
        <div class="page">
            <div class="site-width">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
                
                <h1>Add a new school</h1>
                
                @Html.Partial("_SchoolFormFields", Model)
                
                <footer>
                    <input type="submit" class="button" value="Add this school"/></input>
                    <a href="javascript:void(0)" onclick="history.go(-1)">Cancel</a>
                </footer>

            </div>
        </div>
    }
</main>
