@using System.Web.UI.WebControls
@using GoldenTicket.Models
@using GoldenTicket.Resources
@using GoldenTicket.Calc
@model Applicant

@{
    ViewBag.BodyId = "";
    ViewBag.BodyClass = "no-js applications-show";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<main>
    <div class="page">
        <div class="site-width">
            <div class="notice">
                <h1>Confirm deletion of @Model.StudentFirstName @Model.StudentLastName's application.</h1>
                <p>To delete this application, type the word <em>delete</em> into the text box below and press the <strong>Confirm</strong> button</p>
                <p><input id="delete-confirm-text-box" type="text"/></p>
                <p>
                    @Html.ActionLink(linkText: "Confirm", actionName: "DeleteApplicant", htmlAttributes: new {@class="button"})
                    <a href="javascript:void(0);" onclick="history.go(-1);">Cancel</a>
                </p>
            </div>
        </div>
        
        @Html.Partial("_ApplicantDetails", Model)
    </div>
</main>