@using System.Web.UI.WebControls
@using GoldenTicket.Models
@model List<ApplicationUser>

@{
    ViewBag.BodyId = "";
    ViewBag.BodyClass = "no-js people-index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    ApplicationUser currentUser = ViewBag.CurrentUser;
}

<main>
    <header>
        <div class="site-width">
            <h1>Admins</h1>
            @Html.ActionLink(linkText: "Add a new admin", actionName: "AddAdmin", htmlAttributes: new { @class = "button-forward" }, routeValues: null)
        </div>
    </header>

    <div class="page">
        <div class="site-width">
            <table class="table-people">
                <thead>
                    <tr>
                        <td class="table-people-col-email">
                            <span>Email</span>
                        </td>
                        <td class="table-people-col-actions">
                            <span>Delete</span>
                        </td>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr class="table-people-col-email">
                            <td>
                                @user.Email
                            </td>
                            <td class="table-people-col-actions">
                                @if (!user.Email.Equals(currentUser.Email))
                                {
                                    @Html.ActionLink(linkText: "Delete", actionName: "DeleteAdmin", routeValues: new { email = user.Email })
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>


        </div>
    </div>


</main>
