
@{
    ViewBag.BodyId = "";
    ViewBag.BodyClass = "no-js success";
    Layout = "~/Views/Shared/_RegistrationLayout.cshtml";
}
<main>
    <div class="site-width">
        <h1>Success!</h1>
        <p>You&rsquo;ve successfully entered {{First_name}} {{Last_name}} into the state-wide lottery for pre-kindergarten enrollment. If selected, you will be notified via phone  on <strong>August 16th.</strong></p>
        <a href="page-2.php">Enroll another family member</a>
    </div>
</main>

