
@{
    ViewBag.BodyId = "";
    ViewBag.BodyClass = "no-js student-information";
    Layout = "~/Views/Shared/_RegistrationLayout.cshtml";
}
<div id="signpost">
    <div class="site-width">
        <h2>You&rsquo;re on step 1 of 4: Student information</h2>
    </div>
</div>
<main>
    <div class="site-width">
        <form action="page-3.php">
            <section id="student-information">
                <h1>Student information</h1>
                <p>Please provide some basic information about the student you wish to enter into the lottery.</p>
                <fieldset id="student-name" class="fieldset-name">
                    <legend>Full name</legend>
                    <div class="field">
                        <label for="student-name-first">First</label>
                        <input type="text" placeholder="John" id="student-name-first"></input>
                    </div>
                    <div class="field">
                        <label for="student-name-middle">Middle</label>
                        <input type="text" placeholder="Paul" id="student-name-middle"></input>
                    </div>
                    <div class="field">
                        <label for="student-name-last">Last</label>
                        <input type="text" placeholder="Doe" id="student-name-last"></input>
                    </div>
                </fieldset>
                <fieldset class="fieldset-address">
                    <legend>Address</legend>
                    <div class="field field-street">
                        <label for="student-residence-street">Street</label>
                        <input type="text" id="student-residence-street"></input>
                    </div>
                    <div class="field field-city">
                        <label for="student-residence-city">City</label>
                        <input type="text" id="student-residence-city"></input>
                    </div>
                    <div class="field field-state field-select is-disabled">
                        <label for="student-residence-state">State</label>
                        <select id="student-residence-state" disabled>
                            <option selected>RI</option>
                        </select>
                    </div>
                    <div class="field field-zip">
                        <label for="student-residence-zip">Zip</label>
                        <input type="text" id="student-residence-zip"></input>
                    </div>
                </fieldset>
                <div class="field field-select field-width-medium">
                    <label for="student-residence-district">District of residency</label>
                    <select id="student-residence-district">
                        <option>Central Falls</option>
                        <option>Cranston</option>
                        <option>Newport</option>
                        <option>Pawtucket</option>
                        <option>Providence</option>
                        <option>Warwick</option>
                        <option>West Warwick</option>
                        <option>Woonsocket</option>
                    </select>
                </div>
                <div class="field field-date">
                    <label for="student-birthdate">Date of birth</label>
                    <input type="date" id="student-birthdate"></input>
                </div>
                <fieldset id="student-gender">
                    <legend>Gender</legend>
                    <div class="field field-radiobutton">
                        <label for="student-gender-male">
                            <input type="radio" id="student-gender-male" name="student-gender" value="Male"></input>
                            Male
                        </label>
                    </div>
                    <div class="field field-radiobutton">
                        <label for="student-gender-female">
                            <input type="radio" id="student-gender-female" name="student-gender" value="Female"></input>
                            Female
                        </label>
                    </div>
                    <div class="field field-radiobutton">
                        <label for="student-gender-other">
                            <input type="radio" id="student-gender-other" name="student-gender" value="Other"></input>
                            Prefer not to say
                        </label>
                    </div>
                </fieldset>
            </section>
            <footer>
                <button class="button" type="submit" value="continue">Continue</button>
            </footer>
        </form>
    </div>
</main>

