@model GoldenTicket.Models.ForgotPasswordViewModel

@{
    ViewBag.BodyId = "sign-in";
    ViewBag.BodyClass = "no-js sign-in";
    Layout = "~/Views/Account/_AccountLayout.cshtml";
}

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="page">
        <div class="site-width">
            <h1>Reset password</h1>

            <div class="field">
                @Html.LabelFor(m => m.Email, labelText: "Email")
                @Html.TextBoxFor(m => m.Email)
            </div>

            <footer>
                <input value="Email reset link" type="submit" class="button" />
            </footer>
        </div>
    </div>
}
