@{
    ViewBag.BodyId = "sign-in";
    ViewBag.BodyClass = "no-js sign-in";
    Layout = "~/Views/Account/_AccountLayout.cshtml";
}


<div class="page">
    <div class="site-width">
        <p>
            Please check your email to reset your password.
        </p>
    </div>
</div>