@{
    ViewBag.BodyId = "sign-in";
    ViewBag.BodyClass = "no-js sign-in";
    Layout = "~/Views/Account/_AccountLayout.cshtml";
}


<div class="page">
    <div class="site-width">
        <p>
            Your password has been reset. 
            Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>
</div>